* {
    padding: 15px;
    margin: 0vw;
    background-color: black;
}

h1 {
    padding-left: 40px;
    font-family: Mostra Nuova;
    font-size: 7vh;
    color: white;
}

p {
    font-size: 3.5vh;
    color: white;
}