* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(240, 240, 240);
}

body {
    margin: 30px;
    padding: 1vh;
}

.line {
    padding-left: 30px;
}

.legacy1 {
    padding-left: 35px;
    font-size: 7.5vh;
}

.font {
    font-family: Mostra Nuova;
}

h2 {
    padding-left: 8px;
    font-family: Mostra Nuova;
}

img {
    float: right;
    height: 175px;
    width: 175px;
}

p {
    font-family: Mostra Nuova;
    font-size: 3.5vh;
}

li {
    font-size: 3.5vh;
}