* {
    padding: 0px;
    margin: 0px;
}

div {
    display: block;
    margin: 7.5vh auto 7.5vh auto;
    min-height: 80vh;
    height:auto;
    padding: 1px;
    text-align: center;
    width: 75vw;
    max-width: 700px;
    background-color: #eee8d5;
}
